<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - {{ subtitle }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ base_path }}/css/main.css">
    <link rel="stylesheet" href="{{ base_path }}/css/solarized.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ base_path }}/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ base_path }}/favicon_io/favicon-16x16.png">
</head>

<body>

    <main>
        <div class="wrapper">
        <h1 style="margin:0px;">Naive Psychology</h1>
        <p style="text-align: center; margin: 0 auto;"><i>how a human who makes ai thinks humans think, feel and interact</i></p>
        {{ content }}
        </div>  
    </main>

    <footer>
        <section>
        <p>&copy; {{ current_year }} Gabriel Huang</p>
        <p>
            <a href="https://twitter.com/GabrielHuang9">Twitter</a>
            <a href="https://github.com/gabrielhuang">GitHub</a>
            <a href="https://gabrielhuang.github.io">Research Website</a>
        </p>
        </section>
    </footer>

    </body>
</html>
